@font-face {
    font-family: acumin;
    src: url(fonts/AcuminVariableConcept.otf);
}
@font-face {
    font-family: filson;
    src: url(fonts/FilsonProRegular.otf);
}
*{
    margin: 0;
    padding: 0;
    font-family: acumin;
}
h1 h2{
    font-family: filson;
}
.home{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)), url(img/20220120_115039.jpg);
    background-size: cover;
    background-position: center;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 6em;
    margin-top: 80px;
    color: rgb(253, 224, 224);
}
.content p{
    margin: 20px auto;
    font-size: 30px;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-size: 30px;
    border: 2px solid #37504d;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.topbar_home{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0px 0px 40px 40px;
    color:rgba(70, 60, 158, 0.4);
}
.topbar_home img, .topbar img{
    width: 40%;
    display: flex;
    margin: auto;
    justify-content: center;
}
.topbar_geschiedenis{
    margin-left: 4.5%;
    padding-top: 5%;
}

/* geschiedenis */

.standaard{
    width: 100%;
    height: 100vh;
    background-image:url(img/achtergrond-PI.png);
    background-size: cover;
    background-position: center;
}
.woordjes{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.woordjes li{
    border-style:double;
    border-width:5px;
    
}
.woordjes ul{
    list-style-type: none;
}
.woordjes a:link, .woordjes a:visited{
    color: black;
}
    /* camera */

.camera{
    width: 100%;
    height: 100vh;
    background-image: url(img/camera-PI.png);
    background-size: cover;
    background-position: center;
}
.camera button{
    border: hidden;
}
.terug{
    display: flex;
    justify-content: center;
    border-style: hidden;
}
.foto{
    display: flex;
    justify-content: center;
    margin-top: 130%;
    border-style: hidden;
}
.uitleg{
    width: 100%;
    height: 100vh;
    background-image: url(img/uitleg-PI_eind.png);
    background-size: cover;
    background-position: center;
}
.text{
    padding-top: 20%;
    text-align: center;
}
.vragen, .taal, .start{
    display: block;
    text-align: center;
    font-size: 30px;
    padding-top: 10%;
}
.taal p{
    border-style: solid;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 1px;
    margin-right: 20%;
    margin-left: 20%;
}
.vragen p{
    border-style: solid;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 1px;
    margin-right: 30%;
    margin-left: 30%;
}
.toets_uitleg{
    justify-content: center;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.start p{
    border-style: solid;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 1px;
    margin-right: 35%;
    margin-left: 35%;
}
.toetsvraaginhoud{
    display: block;
    text-align: center;
    padding-top: 8%;
}
.vraag{
    font-size: 70px;
}
.form{
    border-style: solid;
    font-size: 70px;
    border-radius: 5px;
    margin-right: 25%;
    margin-left: 25%;
}
.back-next{ 
    display: flex;
    font-size: 25px;
    margin-top: 30%;
    justify-content: space-around;
}
.back-next p{
    border-style: solid;
    border-radius: 5px;
}
.beschrijving{
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
}
.definitie{
    margin-right: 18%;
    margin-left: 18%;
}
nav {
    background-color: #507fbe;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
nav a { 
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}
nav a:hover {
    background-color: #ddd;
    color: white;
}
nav a.active {
    background-color: #ed7188;
    color: white;
}
nav uitleg{
    height: 20%;
}
nav{
    width: 100%;
}
.nav_icoon{
    width: 60%;
}
nav img{
    width: 40%;
}
